header {
  width: 100%;
  height: 90px;
}

header .container {
  width: 1000px;
  height: 100%;
  margin: auto;
}

header .container .header-top {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

header .header-top img {
  vertical-align: middle;
}

header .header-top .logo {
  width: 135px;
  height: 40px;
  margin-right: 90px;
  float: left;
}

/* 位置图标 */
header .header-top .location {
  width: 20px;
  margin: 10px 5px 0 20px;
  float: left;
}

header .header-top span {
  line-height: 40px;
  font-size: 16px;
  color: #c4c4c4;
  margin-right: 26px;
  float: left;
}

header .header-top .location-name {
  margin-left: -5px;
  margin-right: 12px;
}

/* 放大镜图标 */
header .header-top .fdj {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  float: left;
}

/* 整个搜索 */
header .header-top .search {
  width: 440px;
  height: 100%;
  font-size: 16px;
  line-height: 36px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #2ab8f6;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 18px;
  margin-right: 30px;
}

/* 搜索按钮 */
header .header-top .search-button {
  width: 85px;
  height: 100%;
  font-size: 21px;
  color: white;
  background: #2ab8f6;
  float: right;
}

/* 头像图标 */
header .header-top .tx {
  height: 100%;
  float: right;
}

header .header-bottom {
  width: 100%;
  height: 50px;
}

header .header-bottom ul {
  width: 100%;
  height: 100%;
}

header .header-bottom li {
  height: 100%;
  font-size: 16px;
  line-height: 50px;
  margin-right: 35px;
  float: left;
}

/* 被选中的元素的样式,字体变色 */
header .header-bottom .selected {
  color: #4aa9d9;
}

/* 被选中的元素的样式,底部下划线 */
header .header-bottom .selected::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #4aa9d9;
  display: block;
  margin-top: -5px;
}

main {
  width: 100%;
  height: 510px;
  background: #f7f8fa;
}

main .container {
  width: 1124px;
  height: 100%;
  background: #f7f8fa;
  margin: auto;
}

/* 左箭头 */
main .zjt {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 26px;
  text-align: center;
  line-height: 52px;
  margin: 300px 12px 0 0;
  border-radius: 26px;
  background: #d8eef9;
  float: left;
}

main .middle {
  width: 1000px;
  height: 500px;
  background: white;
  float: left;
}
/* 面包屑导航 */
main .middle .school {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  background: #f7f8fa;
}

main .middle .school span {
  color: #c4c4c4;
}

/* 名师风采 */
main .middle .teacher h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 15px 5px;
}

main .teacher .detail {
  width: 100%;
  height: 375px;
  display: flex;
  justify-content: space-around;
}

main .teacher .detail>div {
  width: 310px;
  height: 100%;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}

main .teacher .detail div img {
  width: 100%;
}

main .teacher .detail-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .teacher .detail-content .teacher-name {
  font-size: 20px;
  margin: 5px;
  justify-content: center;
}

main .teacher .detail-content .teach-age {
  font-size: 20px;
  color: #77c0e9;
  margin: 5px;
  justify-content: center;
}

main .teacher .detail-content .game {
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

main .yjt {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 26px;
  text-align: center;
  line-height: 52px;
  margin: 300px 0 0 12px;
  border-radius: 26px;
  background: #d8eef9;
  float: left;
}

footer {
  width: 100%;
  height: 120px;
  background: #414141;
}

footer .container {
  width: 1000px;
  margin: auto;
}

footer .container .footer-top {
  width: 100%;
  height: 55px;
}

footer .footer-top ul {
  height: 100%;
  float: left;
}

footer .footer-top li {
  color: white;
  font-size: 20px;
  line-height: 55px;
  margin-right: 25px;
  float: left;
}

footer .footer-top>div {
  height: 100%;
  font-size: 20px;
  color: #a2a2a2;
  float: right;
  display: flex;
  align-items: center;
}

footer .footer-top>div img {
  height: 25px;
}

footer hr {
  border-color: #a2a2a2;
}

footer .footer-bottom {
  font-size: 11px;
  color: #a2a2a2;
  text-align: center;
}