<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>绿色食品网公司新闻</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/share.css">
    <link rel="stylesheet" href="../css/news.css">
</head>

<body>
    <header>
        <div class="container">
            <img class="logo" src="../images/logo.gif" alt="">
        </div>
    </header>
    <nav>
        <ul class="container">
            <li>
                <a href="../index.html">
                    网站首页
                </a>                
            </li>
            <li>
                <a href="./news.html">
                    公司新闻
                </a>                
            </li>
            <li>
                行业动态
            </li>
            <li>
                基地管理
            </li>
            <li>
                会员服务
            </li>
            <li>
                网上购物
            </li>
            <li>
                产品展元
            </li>
            <li>
                关于我们
            </li>
            <li>
                ENGLISI
            </li>
        </ul>
    </nav>
    <div class="banner">
        <div class="container">

        </div>
    </div>
    <main>
        <div class="container">
            <div class="left">
                <div class="left-top">
                    <img src="../images/list_tit_bg.jpg" alt="">
                    <ul>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机水果
                        </li>
                        <li>
                            <img src="../images/arrow.jpg" alt="">
                            有机谷物咋两类
                        </li>
                    </ul>
                    <img src="../images/list_bot_bg.jpg" alt="">
                </div>
                <div class="left-bottom">
                    <img src="../images/list_tit_bg1.jpg" alt="">
                    <div>
                        地 址:北京市海淀区知春路未来大厦6层<br>
                        邮编:100191<br>
                        热线电话: 010-62358888 <br>
                        传真: 010-88636666 <br>
                        邮箱: ssp@lssp.com <br>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right-top">
                    <span class="gs">公司新闻</span>
                    <span class="n">您现在所在的位置:首页>公司新闻</span>
                </div>
                <div class="right-between">
                    <ul>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>
                        <li><a href="./article.html">
                            <img src="../images/dot.jpg" alt="">                            
                                人人都要维护食品安全                                                    
                            <span>2011-10-09</span></a>    
                        </li>                        
                    </ul>
                </div>
                <div class="right-bottom">
                    <span>[1/1]页 本页[14]条[首页][上一页][下一页][末页]</span>
                </div>
            </div>            
        </div>
    </main>
    <footer>
        <div class="top-nav">
            <ul class="wz">
                <li>
                    <a href="../index.html">
                        网站首页
                    </a>                
                </li>
                <li>
                    <a href="./news.html">
                        公司新闻
                    </a>                
                </li>
                <li>
                    行业动态
                </li>
                <li>
                    基地管理
                </li>
                <li>
                    会员服务
                </li>
                <li>
                    网上购物
                </li>
                <li>
                    产品展元
                </li>
                <li>
                    关于我们
                </li>
                <li>
                    ENGLISI
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="content">
                <div>
                    <p>电话:010-62358888 传真:010-88636666 客服电话:400-0809-560</p>
                    <p>绿色食品（北京）有限公司 版权所有 京ICP备11036362号</p>
                </div>
                <img src="./images/logo1.gif" alt="">
            </div>
        </div>
    </footer>
</body>

</html>